/* str nav & home  */
.navbar-expand-lg {
    background-color: rgba(0, 0, 0, 0.432) !important;
    position: fixed !important;
    width: 100% !important;
    height: 70px !important;
    display: flex !important;
    z-index: 9999 !important;
} 


.headcontent {
    height: 100vh;
    background-image: url(./image/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.566);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h2-1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.h4-1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding-bottom: 50px;
    
}
.h4-1::after {
    content: "";
    font-size: 2.5rem;
    color: #fff;
    opacity: 0;
    animation: fanimation 10s infinite;
}

@keyframes fanimation {
    0% {
        content: "|";
        opacity: 1;
    }
    
    2% {
        content: "D|";
        opacity: 1;
    }
    4% {
        content: "De|";
        opacity: 1;
    }
    6% {
        content: "Des|";
        opacity: 1;
    }
    8% {
        content: "Desi|";
        opacity: 1;
    }
    10% {
        content: "Desig|";
        opacity: 1;
    }
    12% {
        content: "Design|";
        opacity: 1;
    }
    14% {
        content: "Designe|";
        opacity: 1;
    }
    16% {
        content: "Designer|";
        opacity: 1;
    }
    18% {
        content: "Designe|";
        opacity: 1;
    }
    19% {
        content: "Design|";
        opacity: 1;
    }
    20% {
        content: "Desig|";
        opacity: 1;
    }
    21% {
        content: "Desi|";
        opacity: 1;
    }
    22% {
        content: "Des|";
        opacity: 1;
    }
    23% {
        content: "De|";
        opacity: 1;
    }
    25% {
        content: "Dev|";
        opacity: 1;
    }
    27% {
        content: "Deve|";
        opacity: 1;
    }
    29% {
        content: "Devel|";
        opacity: 1;
    }
    31% {
        content: "Develo|";
        opacity: 1;
    }
    33% {
        content: "Develop|";
        opacity: 1;
    }
    35% {
        content: "Develope|";
        opacity: 1;
    }
    37% {
        content: "Developer|";
        opacity: 1;
    }
    39% {
        content: "Develope|";
        opacity: 1;
    }
    40% {
        content: "Develop|";
        opacity: 1;
    }
    41% {
        content: "Develo|";
        opacity: 1;
    }
    42% {
        content: "Devel|";
        opacity: 1;
    }
    43% {
        content: "Deve|";
        opacity: 1;
    }
    44% {
        content: "Dev|";
        opacity: 1;
    }
    45% {
        content: "De|";
        opacity: 1;
    }
    46% {
        content: "D|";
        opacity: 1;
    }
    47% {
        content: "|";
        opacity: 1;
    }
    49% {
        content: "F|";
        opacity: 1;
    }
    51% {
        content: "Fr|";
        opacity: 1;
    }
    53% {
        content: "Fre|";
        opacity: 1;
    }
    55% {
        content: "Free|";
        opacity: 1;
    }
    57% {
        content: "Freel|";
        opacity: 1;
    }
    59% {
        content: "Freela|";
        opacity: 1;
    }
    61% {
        content: "Freelan|";
        opacity: 1;
    }
    63% {
        content: "Freelanc|";
        opacity: 1;
    }
    65% {
        content: "Freelance|";
        opacity: 1;
    }
    67% {
        content: "Freelancer|";
        opacity: 1;
    }
    69% {
        content: "Freelance|";
        opacity: 1;
    }
    70% {
        content: "Freelanc|";
        opacity: 1;
    }
    71% {
        content: "Freelan|";
        opacity: 1;
    }
    72% {
        content: "Freela|";
        opacity: 1;
    }
    73% {
        content: "Freel|";
        opacity: 1;
    }
    74% {
        content: "Free|";
        opacity: 1;
    }
    75% {
        content: "Fre|";
        opacity: 1;
    }
    76% {
        content: "Fr|";
        opacity: 1;
    }
    77% {
        content: "F|";
        opacity: 1;
    }
    79% {
        content: "P|";
        opacity: 1;
    }
    81% {
        content: "Ph|";
        opacity: 1;
    }
    83% {
        content: "Pho|";
        opacity: 1;
    }
    85% {
        content: "Phot|";
        opacity: 1;
    }
    87% {
        content: "Photo|";
        opacity: 1;
    }
    89% {
        content: "Photog|";
        opacity: 1;
    }
    91% {
        content: "Photogr|";
        opacity: 1;
    }
    93% {
        content: "Photogra|";
        opacity: 1;
    }
    95% {
        content: "Photograp|";
        opacity: 1;
    }
    97% {
        content: "Photograph|";
        opacity: 1;
    }
    99% {
        content: "Photographe|";
        opacity: 1;
    }
    100% {
        content: "Photographer|";
        opacity: 1;
    }
}
/* end nav & home  */

/* str sec 2 */
.body1 {
    background-color: #f1f1f1;
    text-align: center;
    overflow: hidden;
}


.container1 {
    background-color: #fff;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.contl {
    width: 50%;
    padding-top: 50px;
}
.upcont1 {
    display: flex;
    flex-direction: row;
}
.contl .h5-2 {
    text-align: left;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.25rem;
    padding-top: 30px;
}
.progress {
    background-color: #cde1f8;
    height: 0.7rem;
    margin-right: 25px;
    border-radius: 0;
}
.contr {
    width: 50%;
    padding-top: 50px;
}

.contr .h2-2 {
    text-align: left;
}
.contr .hr {
    border: 10px;
    border-color: #0078ff;
    width: 18%;
    background-color: #0078ff;
    height: 4px;
}
.contr p {
    font-size: 1.2rem;
    font-weight: 100;
    color: #6b6b6b;
    padding-top: 35px;
    text-align: left;
    line-height: 35px;
}

.img1 {
    width: 50%;
    text-align: left;
}
.inf1 {
    width: 50%;
    text-align: left;
}
.inf1 span {
    line-height: 35px;
}
.bold1 {
    font-weight: bold;
}
/* end sec 2 */
/* str sec 3 */
.body2 {
    background-color: #f1f1f1;
}

.body2 .title-box h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #1e1e1e;
    text-align: center;
}
.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}
.container2 {
    text-align: center;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.row {
    margin-top: 50px;
    flex-wrap: wrap;
}
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.ico-box {
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    padding: 30px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.ico-box:hover {
    background-color: #0078ff;
    color: white;
    box-shadow: 0 0 0 10px #0077ff46;
}

/* .fa-envelope::before {
    content: "\f0e0";
} */
.s-title {
    padding-top: 30px;
    font-weight: 500;
    font-size: 1.4rem;
}
.text-center {
    text-align: center !important;
}
/* end sec 3 */
/* str sec 4 */
.body3 {
    background-image: url(./image/post-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.overlay-mf {
    background-color: #0077ff8b;
}
.container3 {
    padding: 100px;
}
.row {
    margin-top: 50px;
    flex-wrap: wrap;
}
.counter-box {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}
.counter-box .ico-circle {
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.5;
    box-shadow: 0 0 0 10px #cde1f8;
    padding: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-num {
    padding-top: 45px;
}
.pp33 {
    color: #fff;
    font-size: 1.8rem;
}
.pp3 {
    color: #fff;
    font-size: 1rem;
}

/* end sec 4 */
/* str sec 5 */
.body4 {
    background-color: #f1f1f1;
}
.title4 {
    text-align: center;
    padding-top: 50px;
}
.title4 .h2-4 {
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
.p-4 {
    margin-top: 0;
    margin-bottom: 0rem;
}
.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}
.container4 {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.row {
    margin-top: 50px;
    flex-wrap: wrap;
}
.work-box {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.work-img {
    overflow: hidden;
}
.work-img .img-4 {
    transition: all .7s;
}
.work-img .img-4:hover {
    transform: scale(1.1);
}
.work-content {
    display: flex;
    padding: 10px;
}
.l70 .h3-4 {
    font-size: 1.2rem;
}
.w-ctegory {
    font-size: 0.8rem;
    color: #0078ff;
}
.w-date {
    font-size: 0.8rem;
}
.w-like {
    text-align: right;
}
.w-ico {
    height: 100px;
    width: 100px;
    font-size: 1.5rem;
    color: #0078ff;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 4px #0078ff;
    margin-top: 20px;
    padding-top: 3px;

}
.fa-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
/* end sec 5 */
/* str sec 6 */
.body5 {
    background-image: url(./image/overlay-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #f1f1f1;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.layer5 {
    background-color: #0077ff79;
}
.layer5 .row {
    padding-top: 100px;
    padding-bottom: 100px;
}
.img5 .img-6 {
    border-radius: 50%;
}
.col-md-12 .h3-6 {
    color: #fff;
    padding-top: 20px;
    font-weight: 400;
}
.col-md-12 .p6-6 {
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}
/* end sec 6 */
/* str sec 7 */
.body6 {
    background-color: #f1f1f1;
}
.container6 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-top: 0;
    background-color: #f1f1f1;
}
.cont6 {
    padding-top: 0;
}
.cont6 .h2-7 {
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
}
.p-7 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}
.row {
    margin-top: 50px;
    flex-wrap: wrap;
}
.col-md-4 {
    padding-top: 50px;
}
.bbody6 {
    border: #6b6b6b7c 0.5px solid;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.img-7, svg {
    vertical-align: middle;
}
.card-body {
    position: relative;
}
.ccard-category {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}
.card-category {
    display: inline-block;
    color: #fff;
    padding: 0 15px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
}
.category {
    padding-top: 5px;
    font-weight: 100;
    font-size: 0.8rem;
}
.box-card {
    padding: 20px;
    padding-bottom: 0;
}
.card-category-box .box-card .h3-7 {
    font-size: 1.3rem;
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
}
.box-card .p7-77 {
    color: #4e4e4e;
}
.card-footer {
    background-color: #f1f1f1;
    padding-right: 20px;
    padding-left: 20px;
    border-top: #6b6b6b84 0.5px solid;
}
.avatar {
    padding-top: 5px;
    padding-bottom: 5px;
}
.auther {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
}
.post-date {
    color: #4e4e4e;
    padding-top: 5px;
    padding-bottom: 5px;
}
.clr {
    clear: both;
}
/* end sec 7 */
/* str sec 8 */
.body7 {
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #f1f1f1;
}
.layer7 {
    background-color: #0077ff92;
}
.container7 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
}
.row7 {
    background-color: #fff;
}
.row {
    margin-top: 50px;
    flex-wrap: wrap;
}
.leftleft {
    padding-left: 40px;
    padding-bottom: 50px;
}
.title-box h3 {
    color: black;
}
.lineline {
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    float: left;
}
.form-control {
    margin-bottom: 1rem;
}
.button-b {
    text-align: center;
}
.button-a {
    background-color: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: all 0.4s;
    border-radius: 5rem;
}
.title-box-2 h3 {
    color: #1e1e1e;
}
.lineline {
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    float: left;
}
.title-box-2 p {
    padding-top: 50px;
    font-size: 1.25rem;
    font-weight: 300;
}
.iconicon {
    line-height: 35px;
}
.iconicon i {
    color: #0078ff;
}
.iconicon span {
    color: #4e4e4e;
    padding-left: 5px;
}
.socials {
    padding-top: 20px;
    display: flex;
}
.brandico {
    margin-left: 1rem;
    line-height: 1.5;
    box-shadow: 0 0 0 5px #3393ff;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
/* end sec 8 */
/* end */
.footerf {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
}
.rowff {
    margin: auto;
}
.col-md-12 p {
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}